/*
You will style your page using at least 10 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 18pt;
}

h1 {
  color: blueviolet;
}

body {
  background: #d0c2d6;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
  max-width: 75%;
  margin: auto;
}

/* #formLabel {
  font-size: 14pt;
} */

input[type="text"],
select {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 10%;
  background-color: blueviolet;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blueviolet;
  color: white;
  font-size: 12pt;
  text-align: center;
}

#error {
  color: darkred;
}

.prime {
  color: #00ff00;
}

.not-prime {
  color: #ff0000;
}
